<div id="container">
    <div id="contactos">
        <p>Contactos</p>
        <p>Cel: 312456098</p>
        <p>DufComp@ani.com</p>
    </div>
    <div id="tiendas">
        <p>Tiendas</p>
        <p>Springfild</p>
        <p>Colorado</p>
    </div>
    <div id="horarios">
        <p>Horarios</p>
        <p>Semana: 8-5</p>
        <p>Sabados: 8-1</p>
    </div>
    <div id="redes">
        <img [src]=imagen[0] alt="facebook" class="redBotella">
        <img [src]=imagen[1] alt="instagram" class="redBotella">
        <img [src]=imagen[2] alt="twiter" class="redBotella">
        <img [src]=imagen[3] alt="youtube" class="redBotella">
    </div>
</div>